/*
CSS for the demo template
*/

.logo{
    width: 100px;
}

.SiteHeader, .SiteFooter{
    background: rgba(242,246,248,1);
    background: -moz-linear-gradient(-45deg, rgba(242,246,248,1) 0%, rgba(236,222,247,1) 30%, rgba(121,116,153,1) 99%, rgba(121,116,153,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(30%, rgba(236,222,247,1)), color-stop(99%, rgba(121,116,153,1)), color-stop(100%, rgba(121,116,153,1)));
    background: -webkit-linear-gradient(-45deg, rgba(242,246,248,1) 0%, rgba(236,222,247,1) 30%, rgba(121,116,153,1) 99%, rgba(121,116,153,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(242,246,248,1) 0%, rgba(236,222,247,1) 30%, rgba(121,116,153,1) 99%, rgba(121,116,153,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(242,246,248,1) 0%, rgba(236,222,247,1) 30%, rgba(121,116,153,1) 99%, rgba(121,116,153,1) 100%);
    background: linear-gradient(135deg, rgba(242,246,248,1) 0%, rgba(236,222,247,1) 30%, rgba(121,116,153,1) 99%, rgba(121,116,153,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#797499', GradientType=1 );    
}

/*For svg logo*/
.cls-1{fill:#242424;}

table td{
    border-bottom: 1px solid #eee;
    color: #666;
    font-size: .8em;
    text-align: left;
}

.Slider-item{
    background: #2E435A;
}

.Nav--items {
    box-sizing: none;
    border: 1px solid rgba(46,67,90, 0);
    color: #2e435a;
    display: block;
    min-width: 100px;
    text-align: center;
    background-color: transparent;
    margin: 0 2px;
    cursor: pointer;
    transition: border 0.5s;
}

.Nav--items:hover{
    border: 1px solid rgba(46,67,90, 1);
    color: #cb4154;
}

a.Nav--subNav{
    color: #2e435a;
    border-bottom: 1px solid rgba(203, 65, 84, 0);
    padding: 4px 0 2px 0;
    transition: border 0.5s;
}

a.btnFill{
    color:#2e435a;
}

.Nav--subNav .subList{
    background-color: #2e435a;
    min-width: 150px;
    text-align: center;
}

.Nav--subNav .subList:not(:last-child):after{
    content: "";
    display: block;
    height: 1px;
    width: 60%;
    margin: auto;
    background: #f5f5f5;
}

.Nav--subNav .subList a{
    color: #f5f5f5;
}
.subList a:hover{
    color: #FFFF99;
}