<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template Demo</title>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../Assets/favicons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../Assets/favicons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../Assets/favicons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../Assets/favicons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="../Assets/favicons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="../Assets/favicons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="../Assets/favicons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="../Assets/favicons/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="../Assets/favicons/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="../Assets/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="../Assets/favicons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../Assets/favicons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="../Assets/favicons/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="../Assets/favicons/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="../Assets/favicons/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="../Assets/favicons/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="../Assets/favicons/mstile-310x310.png" />
    <link rel="stylesheet" href="../Assets/bundled/main.bundle.css">
    <link rel="stylesheet" href="demo.css">
</head>
<body>
    <div id="App">
        <div class="Grid">
            <div class="Grid-cell">
                <h1>This is a headline H1</h1>
                <h2>This is a headline H2</h2>
                <h3>This is a headline H3</h3>
                <p>This is regular content text. It is used for all regular text on the site, like article pages, tab contents etc. This is <a href="#">a link</a> inside regular content text.</p>
            </div>
        </div>
        <div class="Grid Grid--withGutter">
            <div class="Grid-cell u-xsm-size1of2">1of2</div>
            <div class="Grid-cell u-xsm-size1of2">1of2</div>
            <div class="Grid-cell u-xsm-size1of3">1of3</div>
            <div class="Grid-cell u-xsm-size1of3">1of3</div>    
            <div class="Grid-cell u-xsm-size1of3">1of3</div>
            <div class="Grid-cell u-xsm-size1of4">1of4</div>
            <div class="Grid-cell u-xsm-size1of4">1of4</div>
            <div class="Grid-cell u-xsm-size1of4">1of4</div>
            <div class="Grid-cell u-xsm-size1of4">1of4</div>
          </div>
        {{#vue}}
        <div class="Grid Grid--withGutter">
            <div class="Grid-cell u-xsm-sizeFull u-md-size1of2"><first></first></div>
            <div class="Grid-cell u-xsm-sizeFull u-md-size1of2"><secondondemand></secondondemand></div>
        </div>
        {{/vue}}
        {{#router}}
        <div class="Grid">
            <div class="Grid-cell"><router-view></router-view></div>
        </div>

        {{/router}}
        <div>
            <button data-modalBtn>Click this to see a modal in action.</button>
        </div>
        <!--Modal-->
        <div class="Modal Modal--display">
            <span class="Modal--close" title="Close Modal">&times;</span>
            <div class="Modal--container">
                <h1>This is a sample modal.</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <!--End Modal-->
    </div>
    <script src="../Assets/bundled/main.bundle.js"></script>
</body>
</html>