<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../Assets/bundled/main.bundle.css">
</head>
<body>
    <div id="App">
        <div class="Grid Grid--withGutter">
            <div class="Grid-cell u-xsm-size1of2">1of2</div>
            <div class="Grid-cell u-xsm-size1of2">1of2</div>
            <div class="Grid-cell u-xsm-size1of3">1of3</div>
            <div class="Grid-cell u-xsm-size2of3">2of3</div>
        </div>
        {{#vue}}
        <div class="Grid Grid--withGutter">
            <div class="Grid-cell u-xsm-sizeFull u-md-size1of2"><first></first></div>
            <div class="Grid-cell u-xsm-sizeFull u-md-size1of2"><secondondemand></secondondemand></div>
        </div>
        {{/vue}}
        {{#router}}
        <div class="Grid">
            <div class="Grid-cell"><router-view></router-view></div>
        </div>
        {{/router}}
    </div>
    <script src="../Assets/bundled/main.bundle.js"></script>
</body>
</html>